@charset "utf-8";
#keyboard{background:#fff;width:370px;padding-right:3px;border:1px solid #cbcbcb;padding-bottom:2px;text-align:center;}
#row0 input,#row1 input,#row2 input,#row3 input,#row4 input{width:25px;margin-left:3px;border:1px solid #cbcbcb;color:#919191; background:url(../js/images/pic_001.gif) repeat-x;margin-top:3px;}